:root{
   --primary-color: rgb(72, 0, 255);
   --secondary-color: #5A7684;
   --accent1-color: #C5D1EB;
   --accent2-color: #395B50;

    --heading-font:'https://fonts.google.com/specimen/Julius+Sans+One?query=sans '
    --paragraph-font:'https://fonts.google.com/specimen/Public+Sans?query=sans'

    -nav-background-color: blue;


}